{% extends 'base.html' %}
{% load static %}
{% block title %}İletişim | Uzman Yangın 0 (216) 394 35 32{% endblock title %}
{% block description %}Uzman Yangın Türkiye'nin yangın malzemeri ve ekipmanları tedarikçisidir. Bizimle İletişime Geçebilirsiniz.{% endblock description %}
{% block content %}
 <!-- Page Header Start -->
 <div class="container-fluid bg-dark p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">iletişim</h1>
            <a href="{% url 'index' %}">Ana Sayfa</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="">İletişim</a>
        </div>
    </div>
</div>
<!-- Page Header End -->
 <!-- Contact Start -->
 <div class="container-fluid bg-secondary px-0">
    <div class="row g-0">
        <div class="col-lg-6">
            <div class="h-100 d-flex flex-column justify-content-left bg-primary p-5">
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-left mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Adres</h3>
                        <p class="mb-0">UZMAN YANGIN SÖNDÜRME SİST.PROJE TAAH.DANŞ.SAN. LTD.ŞTİ.
                            <br> Mescit Mah. Demokrasi Cad. No:55/1 Kat:2  No: 13 - 14 Orhanlı - Tuzla</p>
                    </div>
                </div>
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-left mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Telefon</h3>
                        <p class="mb-0">Telefon: 0 (216) 394 35 32 <br>
                            GSM: 0542 275 34 28</p>
                    </div>
                </div>
                <div class="d-flex text-white">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-left mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-envelope" aria-hidden="true"></i>

                    </div>
                    <div class="ps-4">
                        <h3>E-mail</h3>
                        <p class="mb-0">E-mail: info@uzmanyangin.com.tr <br>Web: www.uzmanyangin.com.tr</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="min-height: 400px;">
            <div class="position-relative h-100">
                <iframe class="position-relative w-100 h-100"
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.847873314618!2d29.344082644539053!3d40.88622314188709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad9a7a581a865%3A0xfd81eb7d14e8d646!2sMescit%2C%20Demokrasi%20Cd.%2C%20Tuzla%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1690318740819!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock content %}