{% extends 'base.html' %}
{% load static %}
{% block title %}{{service.title|title}} - Uzman Yangın{% endblock title %}
{% block description %}{{service.description|title}}{% endblock description %}
{% block content %}
  <!-- Page Header Start -->
  <div class="container-fluid bg-dark p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">Hizmet Detayı</h1>
            <a href="">Ana Sayfa</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="">{{service.title|title}}</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

 <!-- Blog Start -->
 <div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                <img class="img-fluid w-100 mb-5" src="{{service.image.url}}" alt="">
                <h1 class="mb-4">{{service.title|title}}</h1>
                 {{service.description}}
                    invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam
                    lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor
                    rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor
                    sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at
                    lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
                    sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.</p>
            </div>
            <!-- Blog Detail End -->
        </div>
        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- Recent Post Start -->
            <div class="mb-5">
                <h2 class="mb-4">Ürünler</h2>
                {% for products in products  %}
                <div class="d-flex mb-3">
                    <img class="img-fluid" src="{{products.image.url}}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-secondary px-3 mb-0">{{products.title}}
                    </a>
                </div>
                {% endfor %}

            </div>
            <!-- Recent Post End -->
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->

{% endblock content %}