    {% load static %}
    <!-- Features Start -->
    <div class="container-fluid py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 mb-0">NEDEN BİZİ SEÇMELESİNİZ?</h1>
            <hr class="w-25 mx-auto bg-primary">
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes fs-4 text-white"></i>
                        </div>
                        <h3>Sektörün En İyilerden</h3>
                        <p class="mb-0">1992 yılndan bugüne kadar sayısız proje ve imalatımız ile sektörde en iyi olma yolunda emin adımlara ilerlemekteyiz.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-percent fs-4 text-white"></i>
                        </div>
                        <h3>99% Başarı Oranı</h3>
                        <p class="mb-0">Tecrübemiz bize başarının anahtarı olmuştur.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award fs-4 text-white"></i>
                        </div>
                        <h3>Profesyonel Ekip</h3>
                        <p class="mb-0">Birlikte onlarca proje hazırlayan deneyimli ekibimizle hizmette sınır tanımıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-block bg-primary h-100 text-center">
                    <img class="img-fluid w-100" src="{% static 'img/feature.jpg' %}" alt="">
                    <div class="p-4">
                        <p class="text-white mb-4">Yangın ve yangından korunmanın yöntemleri</p>
                        <a href="{% url 'products' %}" class="btn btn-light py-md-3 px-md-5 rounded-pill mb-2">Tüm Ürünler</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="far fa-smile-beam fs-4 text-white"></i>
                        </div>
                        <h3>100% Mutlu Müşteri</h3>
                        <p class="mb-0">Müşteri memnuniyeti odaklı çalışmalarımız sayesinde amacımız olan memnuniyet oranına ulaşabilmekteyiz.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-user-tie fs-4 text-white"></i>
                        </div>
                        <h3>Profesyonel Hizmet</h3>
                        <p class="mb-0">Kalite ve profesyonel hizmet sunana Uzman Yangın, yangından en iyi korunmanız için olanaklar tanır.  </p>
                    </div>
                    <div class="col-12">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-headset fs-4 text-white"></i>
                        </div>
                        <h3>24/7 Servis Desteği</h3>
                        <p class="mb-0">7/24 servis desteğimiz sayesinde mağduriyetleri minimize etmekteyiz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->